@import url(base.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@700&family=Poppins:wght@400;600;700&display=swap');
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    padding-top: 110px;
    padding-bottom: 96px;
}
.title {
    font-size: 36px;
    font-weight: 700;
    font-family: PTSerif-Regular;
    line-height: 48px;
}
.title-left {
    width: 117px;
    height: 27px;
}
.title-top {
    font-size: 18px;
    font-weight: 600;
    font-family: Poppin-regular;
    line-height: 27px;
}
.title-right {
    width: 440px;
    height: 87px;
}
.title-bot {
    font-size: 18px;
    font-family: Poppin-regular;
    font-weight: 400;
}

/* end header */

/* main */
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1050px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    max-height: 470px;
    margin-right: 56px;
}
img {
    max-width: 238px;
    max-height: 427px;
}
.job {
    font-size: 12px;
    font-weight: 400;
    font-family: PTSerif-Regular;
    writing-mode: vertical-rl;
    text-transform: uppercase;
}
.name {
    font-size: 18px;
    font-weight: 600;
    font-family: Poppin-regular;
}

.middle {
    margin-top: 110px;
}
footer {
    text-align: center;
    margin-top: 115px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #a9a9a9;
}
