@font-face {
    font-family: SpaceMono;
    src: url(SpaceMono-Regular.ttf);
}

@font-face {
    font-family: SpacMono-Bold;
    src: url(SpaceMono-Bold.ttf);
}

@font-face {
    font-family: SpaceMono-Italic;
    src: url(SpaceMono-Italic.ttf);
}
body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: space;
}
.container {
    width: 100%;
}
.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.content {
    height: calc(100vh - 30px);
    width: 100%;
}
/* image */
.image {
    width: 40%;
}
.scarecrow {
    width: 540px;
    height: 450px;
}

/* text right */
.text-right {
    height: 60%;
}
.text-first {
    height: 190px;
    width: 586px;
}
.badNews {
    font-size: 55px;
    color: #333333;
    font-family: SpacMono-Bold;
    font-weight: 700;
}
.text-second {
    height: 108px;
    width: 385px;
}
.text-seconds {
    font-size: 24px;
    font-weight: 400;
    color: #4f4f4f;
}
.btn-back {
    margin-top: 64px;
    width: 216px;
    height: 68px;
    background-color: #333333;
    color: white;
    font-family: SpaceMono;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.73px;
}
